*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  width: 375px;
  height: 812px;
  position: absolute;
  background-color: #0E5A8A;
  overflow: hidden;
}
h2{
  font-size: 23px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 14px;
}
.navbar-info {
  z-index: 3;
  position: absolute;
  top: 48px;
}
.navbar-info li{
  z-index: 3;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  align-self: baseline;
  color: white;
}
#nav{
  z-index: 2;
  width: 375px;
  height: 81px;
  left: 0px;
  top: 0px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 33px rgba(0, 0, 0, 0.25);
}
.descriptionbanner{
  z-index: 2;
  position: absolute;
  width: 375px;
  height: 52px;
top: 483px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.map{
  z-index: 1;
  height: 500px;

  align: center;
  width: 396px;

}
.chevron{
  float: right;
}
.container {
  position: relative;
  top: 120px;
  max-height: 276px;
  width: 375px;
  background-color: white;
}
.scrollable{
  background-color: white;
  z-index: 0;
  position: absolute;
  width: 375px;
  height: 309px;

  bottom: -125px;
  overflow-y: scroll;
}
.busInfo li{
/*  width: 370px;
  height: 64px;
  border: 2px solid rgba(117, 117, 117, 0.27) ;
  background-color: white;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  align-self: baseline;
  display: inline-block;
*/

}
